body {
     margin: 0;
     padding: 0;
     background-color: #eee;
     color: black;
     font-family: "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
}
.body { 
font-family: arial,helvetica,clean,sans-serif;
font-size: 13px;
line-height: 1.5em;
}

a {
  color: #32a81e;
  text-decoration: none;
}

h1,h2,h3,h4 {
	    color: #333;
	    padding: 15px 0 5px 0;
	    border-bottom: 1px solid #aaa;
            font-weight: normal;
}

/*
h1 { font-size: 120%; }
h2 { font-size: 100%; }
h3 { font-size: 90%; }
h4 { font-size: 85%; }
*/

img { border: none; }

pre {
    padding: 10px 25px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    color: #272727;
    font-size: 80%;
}

strong {
       color: #505050;
       font-weight: normal;
}

/* Header */
#header {
        height: 100px;
}

#header img {
        padding: 18px 0 0 20px;
}

#header .blurb {
    vertical-align: bottom;
    text-align: right;
    padding-top: 25px;
    padding-right: 2em;
}

.header { width: 100%; }
.logo { vertical-align: top; }

/* Breadcrumbs */
#location {
    padding: 5px 15px;
    background-color: #747473;
    color: #ddd;
}

#location a {
    color: #fff;
    text-decoration: underline;
}

#location .selected, #location strong {
          color: #49b237;
}

/* Column separator */
#container {
           background: #fff url(static/col.gif) repeat-y 140px 0;
}

/* Sidebar */
#sidebar {
         float: left;
         width: 121px;
         padding: 20px 0 20px 30px;
}

#sidebar, #sidebar a {
          color: #6a6a6a;
}

#sidebar a:hover {
         color: #000; text-decoration: underline;
}

#sidebar h1,h2,h3,h4 {
         margin: 0;
}

#sidebar li {
/*         list-style: none;*/
list-style-type: circle;

}

#sidebar li.selected a {
         color: #fff;
}

#sidebar ul {
         margin: 0 0 15px;
         padding: 0px;
}

/* Content */
#main {
      margin-left: 141px;
      padding: 5px 32px 15px 32px;
      color: black;
}

#main a {
      color: #217214;
}

#main .login {
      float: right;
      font-size: 80%;
}

/* Footer */
#footer {
        padding: 20px 32px;
        font-size: 80%;
        text-align: center;
}

.cite { font-size: smaller; }